VBox#main {
  -fx-alignment: center;
  -fx-padding: 10px;
  -fx-min-width: 720px;
  -fx-pref-width: 720px;
  -fx-spacing: 10px;
  -fx-fill-width: true;
}

#window-title {
  -fx-font-family: "Arial Black", sans-serif;
  -fx-font-size: 36pt;
  -fx-text-alignment: center;
}

#guess-controls {
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-alignment: baseline-center;
}

#guess-controls Text {
  -fx-font-size: 18pt;
}

#guess-controls #guessInput {
  -fx-font-size: 18pt;
  -fx-min-width: 100px;
  -fx-pref-width: 100px;
}

#guess-list {
  -fx-min-height: 300px;
  -fx-pref-height: 300px;
}

#guess-list ListView#guesses {

}

#status-bar {
  -fx-min-height: 100px;
  -fx-pref-height: 100px;
}

#button-bar {
  -fx-min-height: 60px;
  -fx-pref-height: 60px;
  -fx-padding: 10px;
  -fx-spacing: 10px;
}

Button.main-button {
  -fx-font-weight: bold;
}
